@import url(./assets/fonts/FinaleJazz/FinaleJazz.css);
@import url(./assets/fonts/SpoqaHanSans/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Spoqa Han Sans Neo', Inter, Avenir, Helvetica, Arial, sans-serif, 'FinaleJazz';
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@layer components {
	[data-theme='dalpeng'] .select {
		@apply rounded-none border-0 border-b-2 border-gray-300 ring-0 transition ease-in-out hover:border-primary-light focus:border-primary focus:text-gray-700 focus:outline-none focus:ring-0;
	}
	[data-theme='dalpeng'] .input {
		@apply min-h-12 rounded-none border-0 border-b-2 border-gray-300 ring-0 transition ease-in-out hover:border-primary-light focus:border-primary focus:text-gray-700 focus:outline-none focus:ring-0;
	}
	[data-theme='dalpeng'] input[type='number'] {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}
	[data-theme='dalpeng'] input[type='number']::-webkit-inner-spin-button,
	[data-theme='dalpeng'] input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}
